# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*

# testing
coverage/

# next.js
.next/
out/

# production & build
build/
dist/
!backend/dist/server.js

# misc
.DS_Store
*.pem
*.log

# env files (exclude secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
